<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>UA Web Development Club</title>
  <!-- Normalize CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">

  <!-- Latest icon font stylesheet-->
  <link rel="stylesheet" href="//brand.arizona.edu/sites/all/themes/brand/ua-brand-icons/ua-brand-icons.css">

  <!-- Latest compiled and minified CSS icon font not included-->
  <link rel="stylesheet" href="//bitbucket.org/uadigital/ua-bootstrap/downloads/ua-bootstrap-1.0.0-beta1.min.css">

  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
              <div class="row">
                <div class="navbar-header">
                  <button type="button" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span>
                    <!-- span.icon-bar-->
                    <!-- span.icon-bar-->
                    <!-- span.icon-bar--><span class="text">MAIN MENU</span>
                  </button>
                </div>
                <div id="main-navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <% if current_page?(root_path) %>
                      <li class="active"><a id ="home" class="page-scroll" href="#page-top">Home</a></li>
                    <% else %>
                      <li class="active"><%= link_to('Home', root_path)%></li>
                    <%end%>
                    <li class="false"><a class="page-scroll" href="#about">About</a></li>
                    <li class="false"><a class="page-scroll" href="#when">When/Where</a></li>
                    <li class="false"><a class="page-scroll" href="#events">Events/Schedule</a></li>
                    <li class="false"><a a class="page-scroll" href="#news" >News/Announcements</a></li>
                    <li class="false"><a class="page-scroll" href="#contact">Contact</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <% if officer_signed_in? %>
                      <li> <%= link_to('Blog Entries', entries_path)%></li>
                      <li>
                      <%= link_to('Logout', destroy_officer_session_path, :method => :delete) %>
                      </li>
                    <% else %>
                      <li>
                      <%= link_to('Officer Login', new_officer_session_path)  %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
<%= yield %>

</body>
</html>
